.tab {
    border: 1px solid red;
    max-width: 50%;
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
}

.tab > .leftTab {
    border: 1px solid black;
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px;
    max-height: 15%;

}

.tab > .rightTag {
    border: 1px solid black;
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px;
    max-height: 15%;
}

.tab > .active {
    background-color: blanchedalmond;
}